# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terraform variables (might contain secrets)
*.tfvars
!example.tfvars

# Python
__pycache__/
*.pyc
.venv/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
